/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Review Assignment

   Pizza Order Style Sheet
   Author: Robert Szkutak
   Date:   4/23/2013

   Filename:         pizza.css
   Supporting Files: delivery.png, okay.png, warning.png

*/


fieldset {
	background-color:rgb(255,246,205);
	border:solid 1px rgb(233,69,0);
	float:left;
	margin:1%;
}

fieldset#custInfo {
	width:35%;
}

fieldset#buildPizza {
	width:60%;
}

fieldset#meat, fieldset#vegetables {
	width:47%;
	background-color:rgb(237,178,74);
}

fieldset legend {
 font-size:0.9em;
}

label {
	display:block;
	font-size:0.8em;
	clear:left;
	float:left;
	width:40%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left:5px;
}

input, textarea {
	display:block;
	float:left;
	width:50%;
	margin-top: 5px;
	margin-bottom: 5px;
}

textarea {
	height:100px;
}

form img {
	display:block;
	float:left;
	margin-top: 5px;
	margin-bottom: 5px;
}

#delTime {
	width:150px;
}

#sizeimage {
	margin-left:40%;
}

#size {
	width:200px;
	background:transparent;
}

#crust {
	float:left;
	font-size:0.8em;
	width:150px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#quantity {
	width:40px;
}

.optionGroup {
	width:50%;
	border:none;
	background:transparent;
}

input[type="radio"] {
	width:30px;
}

input[type="checkbox"] {
	width:20px;
}

#submit_button {
	width:150px;
	float:none;
	margin:0px auto;
}

input:focus, select:focus, textarea:focus {
	background-color:rgb(220,255,220);
}

input:focus:valid {
 background: rgb(220, 255, 220) url(okay.png) bottom right no-repeat;
 -o-background-size: contain;
 -moz-background-size: contain;
 -webkit-background-size: contain;
 background-size: contain;
}

input:focus:invalid {
 background: rgb(255, 232, 233) url(warning.png) bottom right  no-repeat;
 -o-background-size: contain;
 -moz-background-size: contain;
 -webkit-background-size: contain;
 background-size: contain;
}

.clearfloat {
	clear:both;
	float:none;
}

fieldset br {
	clear:both;
	float:none;
}